*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
}

body *{
    font-family: "Ubuntu", sans-serif;
    color: white;
}

.container {
    width: 75%;
    border: 1px solid gray;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}

#profile {
    text-align: center;
}

#profile img {
    margin: 10px;
    margin-bottom: 0;
    width: 112px;
}

#profile p{
    padding: 10px;
}

#lista {
    text-align: center;
}

#lista li{
    display: block;
    padding: 18px;
    margin: 8px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 20px;
}

#lista li a{
    all: unset;
    cursor: pointer;
}